# Block all public access to legacy pages
# These contain outdated terminology not aligned with current Serenzer positioning
Order Deny,Allow
Deny from all

<IfModule mod_authz_core.c>
  Require all denied
</IfModule>
